/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: #ef5839;
}

a:hover,
a:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* UTILITY */

.light {
    color: #5f29a3;
    background-color: #f0e0ff;
    font-weight: 700;
}

.mid {
    color: #5f29a3;
    background-color: #d0aaff;
    font-weight: 700;
}

.dark {
    color: #f4f4f4;
    background-color: #5f29a3;
    font-weight: 700;
}

/* GLOBAL */

body {
    font-family: 'Roboto', sans-serif;
}

.header,
.main__section-two {
    background-color: #5f29a3;
}

.main__section-one,
.footer {
    background-color: #f4f4f4;
}

.header__container,
.main__section-one__container,
.main__section-two__container,
.footer__container {
    width: 685px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

p {
    line-height: 22px;
}

.buttons__link {
    padding: 10px 20px;
    border-radius: 7.5px;
}

/* HEADER */

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__heading {
    color: #f4f4f4;
}

.header__caption {
    color: #d0aaff;
    font-weight: 700;
}

.header__ul {
    display: flex;
    gap: 20px;
    padding: 20px;
    list-style-type: none;
}

.header__nav a {
    display: block;
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
}

/* SECTION-ONE */

.section-one__heading {
    padding: 30px 0 10px;
}

.section-one__image {
    width: 100%;
    height: 100%;
}

.section-one__subheading {
    padding: 10px 0;
}

.section-one__paragraph {
    padding: 20px 0 20px;
}

.section-one__buttons {
    padding: 20px 0 40px;
}

/* SECTION-TWO */

.section-two__heading {
    padding: 30px 0 20px;
    color: #f4f4f4;
}


.section-two__figure {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.section-two__image-one,
.section-two__image-two {
    margin-bottom: 20px;
    border-radius: 7.5px;
}

.section-two__paragraph-one,
.section-two__paragraph-two {
    /* width: 336px;
    padding: 20px 0 20px; */
    color: #f4f4f4;
}

.section-two__buttons {
    padding: 20px 0 20px;
}

.section-two__paragraph,
.section-two__caption {
    padding: 20px 0 40px;
    color: #f4f4f4;
}

/* FOOTER */

.footer {
    text-align: center;
}

.footer__caption {
    padding: 40px 0 40px;
    color: #5f29a3;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
    .header__container,
    .main__section-one__container,
    .main__section-two__container,
    .footer__container {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .header {
        text-align: center;
    }

    .header__container {
        flex-direction: column;
    }

    .header__nav {
        width: 100%;
        margin-top: 1.5em;
    }

    .header__ul {
        flex-direction: column;
        margin-bottom: -10px;
    }

    .header__ul li {
        padding-bottom: 20px;
    }

    .header__ul li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }

    .header__ul li:last-child {
        padding-bottom: 0px;
    }

    .buttons__link {
        display: block;
        text-align: center;
    }

    .buttons__link:first-child {
        margin-bottom: 20px;
    }

    .section-one__paragraph {
        padding: 10px 0 10px;
    }
    
    .section-one__buttons {
        padding: 5px 0 20px;
    }

    .section-two__figure-one,
    .section-two__figure-two {
        flex: 0 1 250px;
    }

    .section-two__paragraph-one,
    .section-two__paragraph-two {
        font-size: 0.9em;
    }

    .section-two__image-one,
    .section-two__image-two {
        width: 100%;
        /* height: 100%; */
    }

    .section-two__buttons {
        padding: 10px 0 10px;
    }
   
    .section-two__caption {
        padding: 10px 0 20px;
        color: #f4f4f4;
    }
}